@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-color: #fdfbf7f2;
  --bg-cream: #FDFBF7;
  --accent-tan: #C5A585;
  --blue-primary: #1F308B;
  --blue-dark: #1E293B;
  --text-gray: #475569;
  --blue-accent: #1f308b;
  --title-color: #1e293b;
  --para-color: #475569;
  --card-light: #f9f8f3;
  --card-dark: #1f308b;
  --footer-bg: #141210;
  --footer-text: #94a3b8;
  --footer-heading: #ffffff;
  --accent-blue: #0ea5e9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: var(--font-playfair);
  --font-inter: var(--font-inter);
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-inter {
  font-family: var(--font-inter);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(31, 48, 139, 0.2) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin: 0 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(31, 48, 139, 0.2);
  border-radius: 20px;
  transition: background-color 0.3s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(31, 48, 139, 0.4);
}